<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barber223.barbereric_audioapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecordMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Background_Activities.FileViewActivity">

            <intent-filter>
                <action android:name="android.intent.action.file_view"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.cloud_view"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.record_view"/>
            </intent-filter>

        </activity>



        <service android:name=".Services.CloudStorage_Service"/>

        <service android:name=".Services.DataDeviceMediaLoader"/>

        <service android:name=".Services.DataCloudPushService"/>

        <service android:name=".Services.MediaPlayerService"/>

        <service android:name=".Services.MediaRecorderServiceClass"/>

    </application>

</manifest>